# Dependency directories
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# Editor directories and files
.webstorm
.idea/

# Temporary files
*.tmp
*.temp
